<!DOCTYPE html>
<html>
{{ partial "header.html" . }}
<body>
	<div class="container wrapper">
		{{ partial "head.html" . }}

		<div class="recent-posts section">
			<h2 class="section-header">
				Notes
			</h2>
			<div class="posts">
				{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
				{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
				{{ range sort $paginator.Pages ".Lastmod" "desc" }}
				<div class="post">
                    <a class="title" href="{{ .RelPermalink }}">{{ .Lastmod.Format "02-Jan-2006" }} | {{.Title}}</a>{{ if .Draft }} <span class="draft-label">DRAFT</span>{{ end }}
					<span class="description">
						{{ if isset .Params "description" }}
                          <br style="line-height: 10px" />
						  {{ .Description }}
						{{ end }}
					</span>
				</div>
				{{ end }}
				{{ template "partials/paginator.html" . }}
			</div>
		</div>
	</div>
	{{ partial "footer.html" . }}
</body>
</html>
